/* ALL */

body{
    font-family: 'Poppins';
}

.text-purple{
	color: #6945A5;
}

.text-grey{
	color: #585e82;
}

.bg-purple{
	background-color: #6945A5;
}

.small-text{
	font-size: 12px;
}

.orange-badge{
    background-color: #FFA03E;
}

.orange-text {
    color: #FFA03E;
}

.gray-text {
    color: grey;
}

a{
    text-decoration: none;
    color: #000000;
}

a:hover{
    text-decoration: none;
    color: #000000;
}

.small-icon {
    width: 15px;
}

.small-left-padding {
    padding-left: 5px;
}

form#searchFilterForm-a {
    /* This bit sets up the horizontal layout */
    display: flex;
    flex-direction: row;

    /* This bit draws the box around it */
    border: none;
    border-radius: 20px;

    /* I've used padding so you can see the edges of the elements. */
    padding: 5px 12px;
    background-color: white;

    /* vertically center items */
    align-items: center;
}

input.search-query {
    /* Tell the input to use all the available space */
    flex-grow: 2;
    /* And hide the input's outline, so the form looks like the outline */
    border: none;

    /* padding: 17px; */
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 11px;

    /* for iOS small screen */
    width: 100%;
}

input:focus {
    /* removing the input focus blue box. Put this on the form if you like. */
    outline: none;
}

#searchFilterForm-a #voice-search {
    /* Just a little styling to make it pretty */
    width: 25px;
    height: 25px;
}

#searchFilterForm-a #delete-query {
    width: 22px;
    height: 22px;
    margin-right: 7px;
}

/* .div-search {
    position: relative;
}

.search-box {
    border-radius: 1rem;
    height: 30px;
    font-size: 10px;
}

.search-voice {
    position: absolute;
    z-index: 999;
    right: 5px;
}

#delete-query {
    width: 20px;
    height: 20px;
} */

.nav-tabs .nav-link.active {
    color: white;
    background-color: #6945A5;
    border-color: #6945A5;
    border-bottom: 3px solid #FFA03E;
    font-weight: 500;
}

.nav-tabs .nav-link:hover {
    color: white;
    background-color: #6945A5;
    border-color: #6945A5;
    border-bottom: 3px solid #FFA03E;
}

.nav-tabs .nav-link {
    color: white;
}

ul.horizontal-slide {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  display: block;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

ul.horizontal-slide::-webkit-scrollbar {
  display: none;
}

ul.horizontal-slide li {
  display: inline-block;
}

.box {
    position: absolute;
    width: 100%;
}

.stack-top {
    z-index: 999;
    position: relative;
    background: lightgray;
}

.logo-merchant {
    border-radius: 50%;
}
